@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1692867606631') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangchuandaochu:before {
  content: "\e8c6";
}

.icon-zhifu:before {
  content: "\e8f9";
}

.icon-tupian:before {
  content: "\e631";
}

.icon-dianzan:before {
  content: "\ec7f";
}

